{% extends "base/navbar.html" %}
{% load static %}

{% block content %}
<div class="container" style="margin-top:100px">
    <div class="row">
        <div class="col-12 col-md-6">
            <img class="img-fluid" src="{% static 'base/img/Foto.jpg' %}">
        </div>
        <div class="col-12 col-md-6">
            <p class="text-center" style="font-size: 200%; color: #FFFFFF;">Hello! My name is Alvito Athallah but my nickname is Vito. I am currently undergoing education at Universitas Indonesia as Information System student</p>
        </div>
    </div>
</div>
{% endblock %}