{% extends "base/navbar.html" %}
{% load static %}

{% block content %}
<div class="container">
    <form action='' method="POST">
        {% csrf_token %}
        <div class="form-group" style="margin-top:100px">
            <label style="color: #FFFFFF;">Mata Kuliah</label>
            {{form.Mata_Kuliah}}
        </div>
        <div class="form-group">
            <label style="color: #FFFFFF;">Dosen</label>
            {{form.Dosen}}
        </div>
        <div class="form-group">
            <label style="color: #FFFFFF;">SKS</label>
            {{form.SKS}}
        </div>
        <div class="form-group">
            <label style="color: #FFFFFF;">Semester</label>
            {{form.Semester}}
        </div>
        <div class="form-group">
            <label style="color: #FFFFFF;">Kelas</label>
            {{form.Kelas}}
        </div>
        <div class="form-group">
            <label style="color: #FFFFFF;">Deskripsi</label>
            {{form.Deskripsi}}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<table class="table" style="margin-top:100px">
   <thead>
       <tr style="color: #FFFFFF;">
           <th scope="col">Mata Kuliah</th>
           <th scope="col">Dosen</th>
           <th scope="col">SKS</th>
           <th scope="col">Semester</th>
           <th scope="col">Kelas</th>
           <th scope="col">Deskripsi</th>
           <th scope="col">Delete</th>
       </tr>
   </thead>
   <tbody>
       {% for tabel in inp %}
            <tr style="color: #FFFFFF;">
            <th scope="row">{{tabel.Mata_Kuliah}}</th>
            <td>{{tabel.Dosen}}</td>
            <td>{{tabel.SKS}}</td>
            <td>{{tabel.Semester}}</td>
            <td>{{tabel.Kelas}}</td>
            <td>{{tabel.Deskripsi}}</td>
            <td><a href="{{tabel.id}}"><button style="background-color: yellow;" class="btn btn-icon btn-danger"></button></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}