{% extends "base/navbar.html" %}
{% load static %}

{% block content %}
<div class="container" style="margin-top:100px">
    <p class="text-center" style="font-size: 200%; color: #FFFFFF;">Welcome to my student profile!</p>
</div>
{% endblock %}
