{% extends "base/navbar.html" %}
{% load static %}

{% block content %}
<div class="container" style="margin-top:200px">
    <div class="row">
        <div class="col-sm-6">
            <p class="text-center" style="font-size: 200%; color: #000000;">.</p>
        </div>
        <div class="col-sm-6" id="follow">
            <p style="font-size: 200%; color: #FFFFFF;">Follow me at:</p>
            <p style="font-size: 200%; color: #FFFFFF;">-alvito_01 for Instagram</p>
            <p style="font-size: 200%; color: #FFFFFF;">-alvito1107 on Line Social Media</p>
        </div>
    </div>
</div>
{% endblock %}