{% extends "base/navbar.html" %}
{% load static %}

{% block content %}
<div class="container" style="margin-top:100px">
    <div class="row">
        <div class="col-sm-6">
            <p class="text-center" style="font-size: 200%; color: #FFFFFF;">SDN Johar Baru 01 Pagi</p>
            <img style="width: 426px;height: 265px;" class="img-fluid rounded mx-auto d-block" src="{% static 'base/img/SDN.jpg' %}">
            <p style="font-size: 200%; color: #FFFFFF;text-align: center">SMAN 8 Jakarta Selatan</p>
            <img style="width: 426px;height: 265px;" class="img-fluid rounded mx-auto d-block" src="{% static 'base/img/SMAN.jpg' %}">
        </div>
        <div class="col-sm-6">
            <p style="font-size: 200%; color: #FFFFFF;text-align: center">SMPN 115 Jakarta Selatan</p>
            <img style="width: 426px;height: 265px;" class="img-fluid rounded mx-auto d-block" src="{% static 'base/img/SMPN.jpg' %}">
            <p style="font-size: 200%; color: #FFFFFF;text-align: center">Universitas Indonesia</p>
            <img style="width: 426px;height: 265px;" class="img-fluid rounded mx-auto d-block" src="{% static 'base/img/UI.jpg' %}">
        </div>
    </div>
</div>
{% endblock %}